<div id="<%= dom_id house %>">
  <p>
    <strong>Name:</strong>
    <%= house.name %>
  </p>

  <p>
    <strong>Img:</strong>
    <%= house.img %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= house.address %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= house.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= house.longitude %>
  </p>

</div>
