<p style="color: green"><%= notice %></p>

<h1>Houses</h1>

<%= form_with url: houses_path, method: :get do |form| %>
  <%= form.text_field :place, value: params[:place] %>
  <%= form.submit %>
<% end %>

<div id="houses">
  <% @houses.each do |house| %>
    <%= render house %>
    <p>
      <%= link_to "Show this house", house %>
    </p>
  <% end %>
</div>

<%= link_to "New house", new_house_path %>

